
<!--
<h1>FORMULARIO</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input.group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p class="message-error" [class.invalid]="nameInput4.invalid">
      Mensaje de error </p>
  </div>

  <div class="input.group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p class="message-error" [class.invalid]="nameInput4.invalid">
      Mensaje de error </p>
  </div>

  <div class="input.group">
    <label for="password">Contraseña</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p class="message-error" [class.invalid]="nameInput4.invalid">
      Mensaje de error </p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>

<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid' : nameInput4.valid,
    'invalid' : nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="numer" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display':'block'
    }"></div>
  </div>
</div>


<h1>*ngFor ejemplo</h1>
<div class="products--grid">
  <div *ngFor="let p of products" >
    <input type="text" [(ngModel)]="widthImg">
    <img [style.width.px]="widthImg" [src]="p.image" alt="">
    <h3>{{p.price}}</h3>
    <p>{{p.name}}</p>
  </div>
</div>
-->
<p><input widht="1000" type="text" [(ngModel)]="imgParent"></p>
<app-img (loaded)="onLoaded()" [img]= "imgParent" ></app-img> <!-- COMPONENTE HIJO -->
